<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Base</title>
    <div th:fragment="head">
        <meta charset=" UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Scheherazade&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../myStyles.css">
    </div>
</head>
<body>
<div th:fragment="navlinks" style="background-color: blue">
    <nav class="nav">
        <span style="color: whitesmoke"><b>SuperJobs&nbsp;&nbsp;&nbsp;</b></span>
        <a class="nav-link"  style="color: whitesmoke" href="/">List All Jobs</a>
        <a class="nav-link"  style="color: whitesmoke" href="/add">Add a Job</a>
        <form th:action="@{/processsearch}" method="post">
            <select name="SearchSelector">
                <option value="NONE">Search by...</option>
                <option value="Date">Date Posted</option>
                <option value="Title"> Job Title</option>
                <option value="Description">Job Description</option>
                <option value="Author">Author of Post</option>
                <option value="Phone">Contact Phone Number</option>
            </select>
            <input type="date"
                   name="searchD">
            <input type="text"
                   placeholder="Search term.."
                   name="search">
            <input type="number" minlength="3" maxlength="3"
                   placeholder="Area Code"
                   name="searchPAC">
            <span style="color: whitesmoke">-</span>
            <input type="number" minlength="3" maxlength="3"
                   placeholder="###"
                   name="searchP1">
            <span style="color: whitesmoke">-</span>
            <input type="number" minlength="4" maxlength="4"
                   placeholder="####"
                   name="searchP2">
            <button type="submit">Submit Search</button>
        </form>
    </nav>
</div>
<div th:fragment="bootstrapScripts">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</div>
</body>

<div th:fragment="footer"
     style="padding-left: 0px; padding-right: 0px; padding-bottom: 0px;
     width: 100%;
     text-align: center;
     background-color: blue;
     color: whitesmoke"
     font-family="'Scheherazade', serif;">
    &#0169; Copyright Katherine K. Olsen 2019. All rights reserved.
</div>
</html>